* {
  box-sizing: border-box; }

h1 {
  text-align: center; }

header {
  background-color: #fff; }

.logo-img {
  width: 70%; }

ul.footer__list {
  display: flex;
  justify-content: space-evenly; }
  ul.footer__list li {
    text-align: center;
    line-height: 2;
    font-size: 12px; }

button, input[type=submit] {
  width: auto;
  overflow: visible;
  background: #4A5471;
  color: #D1D3D2;
  font-weight: bold;
  padding: .8em;
  box-shadow: 7px 7px 5px #262b3a;
  font-family: 'chelsearegular'; }

.categories-list li {
  border: 2px solid #dedede;
  display: inline-block;
  padding: 2%;
  height: 400px;
  overflow: hidden;
  margin: 3px;
  border-radius: 4px; }

/* MEDIA Q's ............*/
@media only screen and (min-width: 961px) {
  .categories-list li {
    width: 23%; }
  .categories-list li:nth-child(4n+5) {
    clear: left; } }

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .categories-list li {
    width: 30%; }
  .categories-list li:nth-child(3n+4) {
    clear: left; } }

/*TABLET LANDSCAPE */
@media only screen and (min-width: 581px) and (max-width: 768px) {
  .categories-list li {
    width: 48%; }
  .categories-list li:nth-child(2n+3) {
    clear: left; } }

/* TABLET PORTRAIT */
@media only screen and (min-width: 321px) and (max-width: 580px) {
  .categories-list li {
    display: block;
    margin: 0 auto;
    width: 90%; } }

/*PHONE LANDSCAPE */
body.node-type-product {
  /* or try uc-product-node */ }
  body.node-type-product h2.product__title {
    font-size: 2em; }
  body.node-type-product .gallery-slides, body.node-type-product .gallery-frame {
    width: 100% !important; }
  body.node-type-product .ds-2col-stacked-fluid {
    display: flex; }
  body.node-type-product .group-left {
    padding-right: 1%;
    border-right: 1px solid #ccc; }
  body.node-type-product .group-right {
    /* background-color: pink; */
    border-left: 1px solid #ccc;
    padding-left: 1%;
    flex-grow: 1; }
    body.node-type-product .group-right section {
      margin-bottom: 5px;
      font-size: 1.4em; }
      body.node-type-product .group-right section h2, body.node-type-product .group-right section div {
        font-size: inherit !important; }
    body.node-type-product .group-right .field-name-body p {
      line-height: 1.4;
      font-size: inherit; }

[id*="views_slideshow_cycle_div_slideshow_block-block"] {
  width: 100%; }

#views_slideshow_cycle_div_slideshow_block-block {
  width: 100%; }

.hero-cta {
  position: absolute;
  font-weight: bold;
  padding: .8em;
  bottom: 4em;
  left: 60%;
  background: #4A5471;
  color: #D1D3D2;
  box-shadow: 7px 7px 5px #262b3a;
  font-family: 'chelsearegular'; }

.region-inner .block-region-secondary-content {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(63, 66, 90, 0.65)), url("../images/dining_room_cropped.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .region-inner .block-region-secondary-content .hero-copy p {
    text-align: center;
    position: absolute;
    font-size: 1.6em;
    line-height: 1.2em;
    top: 50%;
    left: 40%;
    width: 70%;
    transform: translate(-35%, -50%);
    -webkit-transform: translate(-35%, -50%);
    color: white;
    font-family: 'chelsearegular'; }

@media (min-width: 590px) {
  .hero-copy p {
    font-size: 2em; } }

@media (min-width: 960px) {
  .hero-copy p {
    font-size: 2.5em; } }

.browse-list__wrapper {
  display: block;
  width: 97%;
  margin: 0 auto; }

.browse-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  /*
	.browse-list__img { NOT USED
		display:none;	
		opacity: .8;
		width:100%;
		height:auto;
		transition: all 0.5s ease;

	} */ }
  .browse-list .browse-list__item {
    display: inline-block;
    overflow: hidden;
    background-color: #000;
    margin: 0;
    padding: 0;
    border: 1px solid #dedede;
    transition: all 0.5s ease; }
  .browse-list .browse-list__item:hover .child {
    transform: scale(1.09);
    opacity: 1; }
  .browse-list .browse-list__item--single {
    width: 180px;
    height: 180px; }
  .browse-list .browse-list__item--duble {
    width: 360px;
    height: 180px; }
  .browse-list .child {
    width: 100%;
    height: 100%;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease; }

/*CAT BG IMAGES ............*/
.acc {
  background-image: url("../images/ACC-Icon.jpg"); }

.chn {
  background-image: url("../images/CHN-Icon.jpg"); }

.clo {
  background-image: url("../images/CLO-Icon.jpg"); }

.fur {
  background-image: url("../images/FUR-Icon.jpg"); }

.mir {
  background-image: url("../images/MIR-Icon.jpg"); }

.pnt {
  background-image: url("../images/PNT-Icon.jpg"); }

.por {
  background-image: url("../images/POR-Icon.jpg"); }

.red {
  background-image: url("../images/RED-Icon.jpg"); }

.rug {
  background-image: url("../images/RUG-Icon.jpg"); }

/* BROWSER FURNITURE ..........*/
.arm {
  background-image: url("../images/ARM-Icon.jpg"); }

.bed {
  background-image: url("../images/BED-Icon.jpg"); }

.bkc {
  background-image: url("../images/BKC-Icon.jpg"); }

.brk {
  background-image: url("../images/BRK-Icon.jpg"); }

.buf {
  background-image: url("../images/BUF-Icon.jpg"); }

.chr {
  background-image: url("../images/CHR-Icon.jpg"); }

.cst {
  background-image: url("../images/CST-Icon.jpg"); }

.com {
  background-image: url("../images/COM-Icon.jpg"); }

.cns {
  background-image: url("../images/CNS-Icon.jpg"); }

.dsk {
  background-image: url("../images/DSK-Icon.jpg"); }

.mcc {
  background-image: url("../images/MCC-Icon.jpg"); }

.msc {
  background-image: url("../images/MSC-Icon.jpg"); }

.sec {
  background-image: url("../images/SEC-Icon.jpg"); }

.tab {
  background-image: url("../images/TAB-Icon.jpg"); }

.lgt {
  background-image: url("../images/LGT-Icon.jpg"); }

/*FURNITURE BG IMAGES ........*/
.bed {
  background-image: url("../images/BED-Icon.jpg"); }

.buf {
  background-image: url("../images/BUF-Icon.jpg"); }

/* MEDIA Q's ............*/
/*TABLET LANDSCAPE */
/* TABLET PORTRAIT */
/*PHONE LANDSCAPE */
/* LAYOUT MEDIA Q's .........*/
/*
@media (min-width:960px) {
	.rug, .acc-2, .rug-2, .acc-3, .rug-3 {
		clear:left;
		border:1px solid red;
		}
	
}

@media (min-width:591px) and (max-width: 959px) {
	.rug, .rug-2, .rug-3 {
		clear:none;
		border:0px solid red;
		}

	.lgt, .pnt, .acc-2, .acc-3{
		clear:left;
		border:1px solid green;
	}	
	
}

@media (max-width:590px) {
	.lgt, .rug, .red, .pnt, .clo, .acc {
		clear:left;
		border:2px solid purple;
	}
}

*/
#title {
  color: #A37; }

h1 {
  text-align: center; }
