@import url("https://fonts.googleapis.com/css?family=IM+Fell+English");
* {
  box-sizing: border-box; }

/* FORMS */
input[type="submit"] {
  background-color: #b6a465 !important;
  font-family: 'IM Fell English', serif; }

input[type="submit"]:hover {
  background-color: #4a5471 !important; }

/* font-family: 'IM Fell English', serif; */
@font-face {
  font-family: 'chelsearegular';
  src: url("/fonts/chelsea-webfont.woff2") format("woff2"), url("/fonts/chelsea-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* font-family: 'chelsearegular' */
header {
  background-color: #fff; }

.logo-img {
  width: 70%; }

ul.footer__list {
  display: flex;
  justify-content: space-evenly; }
  ul.footer__list li {
    text-align: center;
    line-height: 2;
    font-size: 12px; }

.categories-list li {
  border: 2px solid #dedede;
  display: inline-block;
  padding: 2%;
  height: 400px;
  overflow: hidden;
  margin: 3px;
  border-radius: 4px; }

/* MEDIA Q's ............*/
@media only screen and (min-width: 961px) {
  .categories-list li {
    width: 23%; }
  .categories-list li:nth-child(4n+5) {
    clear: left; } }

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .categories-list li {
    width: 30%; }
  .categories-list li:nth-child(3n+4) {
    clear: left; } }

/*TABLET LANDSCAPE */
@media only screen and (min-width: 581px) and (max-width: 768px) {
  .categories-list li {
    width: 48%; }
  .categories-list li:nth-child(2n+3) {
    clear: left; } }

/* TABLET PORTRAIT */
@media only screen and (min-width: 321px) and (max-width: 580px) {
  .categories-list li {
    display: block;
    margin: 0 auto;
    width: 90%; } }

/*PHONE LANDSCAPE */
body.node-type-product {
  /* or try uc-product-node */ }
  body.node-type-product .easy-breadcrumb {
    padding-bottom: 25px; }
  body.node-type-product h2.product__title {
    font-size: 2em;
    font-family: 'chelsearegular'; }
  body.node-type-product section {
    font-family: 'IM Fell English', serif; }
  body.node-type-product .gallery-slides, body.node-type-product .gallery-frame {
    width: 100% !important; }
  body.node-type-product .ds-2col-stacked-fluid {
    /* display: flex; */ }
  body.node-type-product .group-left {
    padding-right: 1%;
    border-right: 1px solid #ccc; }
  body.node-type-product .group-right {
    /* background-color: pink; */
    border-left: 1px solid #ccc;
    padding-left: 1%;

    flex-grow: 1; }
    body.node-type-product .group-right section {
      margin-bottom: 5px;
      font-size: 1.4em; }
      body.node-type-product .group-right section h2, body.node-type-product .group-right section div {
        font-size: inherit !important; }
    body.node-type-product .group-right .field-name-body p {
      line-height: 1.4;
      font-size: inherit; }

@media (max-width: 650px) {
  .group-left, .group-right {
    width: 100% !important;
    clear: both;
    float: none !important; }
  .group-left {
    border-right: 0 !important; }
  .group-right {
    /* background-color: pink; */
    border-left: 0px !important; }
  .gallery-slides {
    height: auto !important;
    padding-bottom: 25px; }
  .product__title {
    text-align: left; } }

[id*="views_slideshow_cycle_div_slideshow_block-block"] {
  width: 100%; }

#views_slideshow_cycle_div_slideshow_block-block {
  width: 100%; }

.browse-list__wrapper {
  display: block;
  width: 97%;
  margin: 0 auto; }

.browse-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  /*
	.browse-list__img { NOT USED
		display:none;	
		opacity: .8;
		width:100%;
		height:auto;
		transition: all 0.5s ease;

	} */ }
  .browse-list .browse-list__item {
    display: inline-block;
    overflow: hidden;
    background-color: #000;
    margin: 0;
    padding: 0;
    border: 1px solid #dedede;
    transition: all 0.5s ease; }
  .browse-list .browse-list__item:hover .child {
    transform: scale(1.09);
    opacity: 1; }
  .browse-list .browse-list__item--single {
    width: 180px;
    height: 180px; }
  .browse-list .browse-list__item--duble {
    width: 360px;
    height: 180px; }
  .browse-list .child {
    width: 100%;
    height: 100%;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease; }

/*CAT BG IMAGES ............*/
.acc {
  background-image: url("../images/ACC-Icon.jpg"); }

.chn {
  background-image: url("../images/CHN-Icon.jpg"); }

.clo {
  background-image: url("../images/CLO-Icon.jpg"); }

.fur {
  background-image: url("../images/FUR-Icon.jpg"); }

.mir {
  background-image: url("../images/MIR-Icon.jpg"); }

.pnt {
  background-image: url("../images/PNT-Icon.jpg"); }

.por {
  background-image: url("../images/POR-Icon.jpg"); }

.red {
  background-image: url("../images/RED-Icon.jpg"); }

.rug {
  background-image: url("../images/RUG-Icon.jpg"); }

/* BROWSER FURNITURE ..........*/
.arm {
  background-image: url("../images/ARM-Icon.jpg"); }

.bed {
  background-image: url("../images/BED-Icon.jpg"); }

.bkc {
  background-image: url("../images/BKC-Icon.jpg"); }

.brk {
  background-image: url("../images/BRK-Icon.jpg"); }

.buf {
  background-image: url("../images/BUF-Icon.jpg"); }

.chr {
  background-image: url("../images/CHR-Icon.jpg"); }

.cst {
  background-image: url("../images/CST-Icon.jpg"); }

.com {
  background-image: url("../images/COM-Icon.jpg"); }

.cns {
  background-image: url("../images/CNS-Icon.jpg"); }

.dsk {
  background-image: url("../images/DSK-Icon.jpg"); }

.mcc {
  background-image: url("../images/MCC-Icon.jpg"); }

.msc {
  background-image: url("../images/MSC-Icon.jpg"); }

.sec {
  background-image: url("../images/SEC-Icon.jpg"); }

.tab {
  background-image: url("../images/TAB-Icon.jpg"); }

.lgt {
  background-image: url("../images/LGT-Icon.jpg"); }

/*FURNITURE BG IMAGES ........*/
.bed {
  background-image: url("../images/BED-Icon.jpg"); }

.buf {
  background-image: url("../images/BUF-Icon.jpg"); }

/* MEDIA Q's ............*/
/*TABLET LANDSCAPE */
/* TABLET PORTRAIT */
/*PHONE LANDSCAPE */
/* LAYOUT MEDIA Q's .........*/
/*
@media (min-width:960px) {
	.rug, .acc-2, .rug-2, .acc-3, .rug-3 {
		clear:left;
		border:1px solid red;
		}
	
}

@media (min-width:591px) and (max-width: 959px) {
	.rug, .rug-2, .rug-3 {
		clear:none;
		border:0px solid red;
		}

	.lgt, .pnt, .acc-2, .acc-3{
		clear:left;
		border:1px solid green;
	}	
	
}

@media (max-width:590px) {
	.lgt, .rug, .red, .pnt, .clo, .acc {
		clear:left;
		border:2px solid purple;
	}
}

*/
#title {
  color: #A37; }

h1 {
  text-align: center; }