
* {
	box-sizing:border-box;
}

/* FORMS */
input[type="submit"] {
	background-color: $yellow !important;
	font-family: 'IM Fell English', serif;

}

input[type="submit"]:hover {
	background-color: $purple !important;
}
