$ming_white: #D1D3D2;
$ming_light_brown: #72432B;
$ming_grey: #989A99;
$ming_tan: #B6A465;
$ming_dark_brown: #5A2920;
$ming_blue: #4A5471;

$purple:#4a5471;
$brown1:#5a2920;
$yellow:#b6a465;
$gray:#979a98;
$brown2:#72432b;