.browse-list__wrapper {
	display: block;
	width:97%;  
	margin:0 auto;
}

.browse-list {
	list-style-type:none;
	padding:0;
	width:100%;
	cursor:pointer;

	.browse-list__item {
		display:inline-block;
		overflow:hidden;
		background-color: purple;
		margin:0;padding:0;
		transition: all 0.5s ease;
	}

	.browse-list__item--single {
		width:20%;

		
	}
	.browse-list__item--duble {
		width:40%;
		
	}

	.browse-list__img {
		
		opacity: .8;
		width:100%;
		height:auto;
		transition: all 0.5s ease;

	}
	.browse-list__item:hover {
		
		.browse-list__img {
			width:120%;
			opacity:1;
		}
	}

	

}