body.node-type-product {

/* or try uc-product-node */ 

	h2.product__title {
		font-size: 3em;
	}
	.gallery-slides, .gallery-frame {
		width:100% !important;
	}

	.ds-2col-stacked-fluid {
		display: flex;
	}

	.group-left {
		padding-right:1%;
	}
	.group-right {
		background-color: pink;
		border-left:1px solid #ccc;
		padding-left:1%;
		flex-grow:1;

		section {
			margin-bottom:5px;
			font-size: 1.4em;

			h2, div {
				font-size: inherit !important;
			}
		}
	}


}