@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');
/* font-family: 'IM Fell English', serif; */

@font-face {
    font-family: 'chelsearegular';
    src: url('/fonts/chelsea-webfont.woff2') format('woff2'),
         url('/fonts/chelsea-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* font-family: 'chelsearegular' */