button, input[type=submit] { 
	width:auto; 
	overflow:visible; 
	background: $ming_blue;
	color: $ming_white;
	font-weight: bold;
	padding: .8em;
	box-shadow: 7px 7px 5px darken($ming_blue, 18%);
	font-family: 'chelsearegular';
}