body.node-type-product {

/* or try uc-product-node */ 
	.easy-breadcrumb {
		padding-bottom: 25px;
	}

	h2.product__title {
		font-size:2em;
		font-family: 'chelsearegular';
	}
	section {
		font-family:'IM Fell English', serif;
	}
	.gallery-slides, .gallery-frame {
		width:100% !important;
	}

	.ds-2col-stacked-fluid {
		/* display: flex; */
	}

	.group-left {
		border-right:1px solid #ccc;
		overflow: hidden;
		padding-right:1%;
		position: relative;

		.gallery-thumbs {
			padding-left: 0;
			padding-right: 0;
			width:100% !important;
		}


		

	}
	.group-right {
		/* background-color: pink; */
		border-left:1px solid #ccc;
		padding-left:1%;
		padding-bottom: 40px;
		/* flex-grow:1; */
		position: relative;

		.product__title {
			text-align: left;
		}

		section {
			margin-bottom:5px;
			font-size: 1.4em;

			h2, div {
				font-size: inherit !important;
			}
		}
		.field-name-body p { 
			line-height: 1.4;
			font-size: inherit;
		}

		#block-webform-client-block-23 h2.block-title {
			background-color:$purple;
			font-weight: bold;
			color: #fff;
			padding: 10px;
			border-radius: 3px;
		}
		.addtoany_list {
			position: absolute;
			bottom:0;
			left:0;
			padding: 0;
		}
	}
	@media (min-width: 651px) {
		/*
		.gallery-slides {
			height:auto !important; 
		} */
	}

	@media (max-width:650px) {
		.group-left, .group-right {
			width:100% !important;
			clear:both;
			float:none !important;
		}
		.group-left {
			border-right:0 !important;
		}
		.group-right {
			/* background-color: pink; */
			border-left:0px !important;
		}
		.gallery-slides {
			/* height:auto !important; CAUSING SLIDE TO DISPLAY TOO SHORT */
			padding-bottom: 25px;
		}
		.product__title {
			/*text-align: left; */
		}
		.node-article .links li a, button, input[type="submit"] { 
			width:100%;
			}

	}
}

.rotate {
	li {
		//padding-bottom: 100px !important;
		padding:20px 0 !important;
	}
	img {
		transform: rotate(90deg);
		position: relative;
		top:60px;
	}
	.views-field-field-measurements {
		position: relative;
		margin-top:125px;	
	}
}